<div
  #container
  cdkDropList
  cdkDropListOrientation="horizontal"
  class="boards"
  (cdkDropListDropped)="drop($event)"
>
  <ng-container *ngIf="!loading.status">
    <div class="wrapper" cdkDropListGroup>
      <app-board
        cdkDrag
        *ngFor="let board of boards; let i = index"
        [board]="board"
        (deleteBoardEvent)="handleDeleteBoardEvent($event)"
      >
        <div class="spacer"></div>
        <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
      </app-board>
    </div>
  </ng-container>

  <ng-container *ngIf="loading.status">
    <ng-container *ngFor="let _ of [].constructor(loading.quantity)">
      <app-board-loading></app-board-loading
    ></ng-container>
  </ng-container>

  <div class="board-button">
    <button
      mat-button
      (click)="openDialog()"
      class="mat-raised-button mat-button-base mat-accent"
      color="accent"
    >
      Nuevo tablero
    </button>
  </div>
</div>
