<main>
  <div class="container">
    <mat-card>
      <div *ngIf="isSignup">
        <h3 mat-subheader>Create Account</h3>

        <button mat-stroked-button (click)="changeType('login')">
          Ya tienes cuenta?
        </button>
      </div>

      <div *ngIf="isLogin">
        <h3 mat-subheader>Sign In</h3>
        <button size="small" mat-stroked-button (click)="changeType('signup')">
          Nuevo usuario?
        </button>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field [color]="email!.valid ? 'accent' : 'primary'">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            autocomplete="off"
          />

          <mat-error *ngIf="email!.invalid && email!.dirty">
            Debes ingresar un email válido
          </mat-error>
        </mat-form-field>

        <mat-form-field [color]="email!.valid ? 'accent' : 'primary'">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            autocomplete="off"
          />

          <mat-error *ngIf="password!.invalid && password!.dirty">
            La contraseña debe tener al menos 6 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field
          [color]="passwordDoesMatch ? 'accent' : 'warn'"
          *ngIf="isSignup"
        >
          <mat-label>Confirmar password</mat-label>
          <input
            matInput
            formControlName="passwordConfirm"
            type="password"
            autocomplete="off"
          />

          <mat-error *ngIf="passwordConfirm!.dirty && !passwordDoesMatch">
            Las contraseñas no son iguales
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="form.invalid || !passwordDoesMatch || loading"
        >
          Aceptar
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="loading"
          class="demo"
          (click)="demo()"
        >
          Demo user
        </button>
      </form>

      <div></div>
    </mat-card>
  </div>
</main>
