<mat-card class="project-card">
  <mat-card-header>
    <div class="align-header">
      <mat-card-title>{{ project.title }}</mat-card-title>

      <button
        mat-icon-button
        aria-label="icon-button with a menu"
        [matMenuTriggerFor]="menu"
        [disabled]="loading"
        [class.spinner]="loading"
      >
        <mat-icon *ngIf="!loading">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openOptionsDialog()">
          <mat-icon>settings</mat-icon>
          <span>Opciones</span>
        </button>

        <button mat-menu-item (click)="openDeleteDialog()" color="warn">
          <mat-icon>delete_forever</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content>
    <mat-card-subtitle>
      <div class="project-description">
        {{ project.description }}
      </div>
    </mat-card-subtitle>
  </mat-card-content>
  <div class="bottom-aligner"></div>

  <div class="card-footer">
    <div class="img-container">
      <img
        [matTooltip]="(this.authService.currentUser | async)?.username || ''"
        [src]="(this.authService.currentUser | async)?.image"
        class="user-img"
        [matTooltipPosition]="'above'"
      />

      <img
        [matTooltip]="project.members[0].user?.username || ''"
        *ngIf="project.members[0]"
        [src]="project.members[0].user?.image"
        class="user-img"
        [matTooltipPosition]="'above'"
      />
      <img
        [matTooltip]="project.members[1].user?.username || ''"
        *ngIf="project.members[1]"
        [src]="project.members[1].user?.image"
        class="user-img"
        [matTooltipPosition]="'above'"
      />

      <div class="user-img user-count" *ngIf="project.members.length > 3">
        <span>+{{ project.members.length - 3 }}</span>
      </div>
    </div>

    <button
      mat-raised-button
      [disabled]="loading"
      [routerLink]="'/kanban/' + this.project.id"
    >
      Ir al proyecto
    </button>
  </div>
</mat-card>
