<div class="dashboard">
  <div class="toolbar">
    <button
      type="button"
      mat-stroked-button
      color="primary"
      (click)="openNewDialog()"
    >
      <mat-icon>+</mat-icon>
      Nuevo proyecto
    </button>
  </div>

  <div *ngIf="projects.length === 0" class="no-projects">
    <h2>No tienes proyectos</h2>

    <button mat-raised-button color="primary" (click)="openNewDialog()">
      <mat-icon>+</mat-icon> Crea uno
    </button>
  </div>
  <div class="card-container" *ngIf="projects.length !== 0">
    <div class="inner-container">
      <app-project-card
        *ngFor="let project of projects"
        [project]="project"
        (deleteRequest)="handleDeleteRequest($event)"
      ></app-project-card>

      <ng-container *ngIf="loading.status">
        <ng-container *ngFor="let _ of [].constructor(loading.quantity)">
          <app-project-card-loading></app-project-card-loading
        ></ng-container>
      </ng-container>
    </div>
  </div>
</div>
