.outer-card {
  margin: 10px;
  min-width: 300px;
  max-width: 300px;
  padding: 10px;
  background: #212121;
}

.wrapper {
  padding: 12px 0;
}

.inner-card {
  cursor: pointer;
}
.inner-card:not(:first-child):not(:last-child) {
  margin: 5px 0;
}

.inner-card:first-child:nth-last-child(2) {
  margin-bottom: 5px;
}

.tasks {
  min-height: 55px;
  max-height: 70vh;
  overflow-y: auto;
  position: relative;
}

.tasks:has(.inner-card) {
  min-height: 0px;
}

.cdk-drag-animating {
  transition: transform 300ms ease;
}

.tasks.cdk-drop-list-dragging .cdk-drag {
  transition: transform 300ms ease;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}

.blue {
  background: #71deff;
  color: black;
}
.green {
  background: #36e9b6;
  color: black;
}
.yellow {
  background: #ffcf44;
  color: black;
}
.purple {
  background: #b15cff;
  color: white;
}
.red {
  background: #e74a4a;
  color: white;
}

.gray {
  background: gray;
  color: white;
  text-decoration: line-through;
}

.mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}

button {
  margin-right: 5px;
  .mat-icon {
    margin: 0;
  }
}

.no-tasks-content {
  color: gray;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
}

mat-card-title {
  color: white;
}

::ng-deep .custom-modalbox {
  mat-dialog-container {
    .mdc-dialog__container {
      .mdc-dialog__surface {
        padding: 0.75rem;
      }
    }

    mat-form-field {
      width: 100%;
      padding-top: 1rem;
    }
  }
}
